@import url('./scss/bs-overwrite.scss');

:root {
    --bs-danger: #ad333f;
    --bs-primary: #0c4888;
    --bs-success: #1d6a46;
    --bs-warning: #ad8c33;
    --bs-info: #1690a8;
    /* --bs-light: #bababa; */
}

